@tailwind base;
@tailwind components;
@tailwind utilities;

$prymary-red: #a52830;
$prymary-red-light: #ed3237;
$cor-fundo: #f5f5f5;
$cor-texto: #323232;
$cor-complementar: #fffff0;
$sans: 'Poppins', sans-serif;

.link {
  transition: border-color 0.9s ease;
  border-bottom: 2px solid transparent;
}

.link:hover {
  border-color: #ed3237;
  scale: 1.05;
}

.hover-link {
  margin: 0 auto;
  border: none;
  background: var(--cor-complementar);
  color: var(--primary-red-light);
  border-bottom: solid 1px rgba($cor-fundo, 0.2);
  padding: 0.4rem 0.4rem 0.4rem;
  font-family: $sans;
  font-size: 0.9rem;
  text-decoration: none;

  position: relative;
  cursor: pointer;
}

.hover-link > span {
  overflow: hidden;
  display: block;
  position: relative;
  pointer-events: none;
}

.hover-link > span > span {
  display: inline-block;
}

.hover-link > span > span:nth-of-type(1) {
  transition: 0.4s ease all;
}

.hover-link > span > span:nth-of-type(2) {
  transition: 0.4s ease all;
  transition-delay: 0.07s;
}

.hover-link > span > span > span {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(200%);
}

.hover-link:hover > span > span,
.hover-link:focus > span > span {
  transform: translateY(-200%);
}

.button-container button {
  -webkit-mask: url('/img/nature-sprite.png');
  mask: url('/img/nature-sprite.png');
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
}

.button-container button:hover {
  animation: anim1 0.3s steps(22) none;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.altura-ajustada {
  height: calc(100vh - 100px);
}

#coracao {
  background: none !important;
}

.coluna-imagem {
  background-image: url('/img/bg-intro.jpg');
  background-size: cover;
  background-position: center;
}
.coracao-box {
  perspective: 500px;
  perspective-origin: 50% 50%;
}

.imagem-reveal {
  clip-path: inset(0 0 100% 0);
  transition: clip-path 2s ease-out;
}

.custom-font-size {
  font-size: 2.25rem;
}

.bg-special {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c6c0c0' fill-opacity='0.13'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.13'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.social {
  color: #fff;
  height: 40px;
  width: 40px;
  background: #ffc239;
  border-radius: 50%;
  padding-top: 12px;
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: 1rem;

  &:hover {
    padding: 0.6rem;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.whatsapp-message-box {
  background-color: white;
  color: #128c7e;
  padding: 8px 32px;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
  margin-right: -26px;
  z-index: 99;
  display: flex;

  align-items: center;
  height: 70px;
  justify-content: center;
}

.whatsapp-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatsapp-text p {
  margin: 0;
  padding-left: 5px;
}

.whatsapp-icon {
  font-size: 30px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  z-index: 100;
}

.whatsapp-float:hover .whatsapp-icon {
  background-color: #128c7e;
  color: #fff;
  font-size: 32px;
}

.whatsapp-float:hover .whatsapp-message-box {
  background-color: #e5e5e5;
}

.transitions {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgb(165, 40, 48);
  background: linear-gradient(
    180deg,
    rgba(165, 40, 48, 1) 0%,
    rgba(237, 50, 55, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.hero {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;

  background-color: $cor-fundo;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  pointer-events: none;

  animation: background-change 3s ease-in forwards;
}

@keyframes background-change {
  0% {
    background-color: $cor-fundo;
    opacity: 0;
  }
  50% {
    background-color: rgba($color: $prymary-red, $alpha: 0.1);
  }
  100% {
    background-color: $cor-fundo;
  }
}

.bar-loading {
  width: 500px;
  height: 6px;
  background-color: rgba($color: $prymary-red, $alpha: 0.2);
  border-radius: 10px;
  position: relative;
  --bar-width: 0%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--bar-width);
    height: 100%;
    background-color: rgba($color: $prymary-red, $alpha: 0.7);
    border-radius: 10px;
  }
}

.icon-zap {
  width: 40px;
  height: 140px;
  padding-right: 10px;
}

.icon-coracao {
  width: 40px;
  height: 40px;
  transform: translate(710%, -220%);
  background: none !important;
}

@media screen and (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.responsive {
    display: block;
    position: absolute;
    width: 30%;
    opacity: 0.7;
    top: 80px;
    left: 0;
    z-index: 20;
    background-color: #fff; /* ou qualquer outra cor de fundo que você preferir */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu.responsive a {
    display: block;
    text-align: left;
    padding: 10px 20px;
    color: black; /* ou qualquer outra cor de texto que você preferir */
  }

  .text-destaque {
    margin-left: 1rem;
  }
}
